#login-main {
	background-color: #fefefe;
	color: #000;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

#login-main section {
	background-color: #0082de93;
	width: 60rem;
	padding: 3rem 6rem;
	border-radius: 10px;
	margin: 0 auto;
}

#login-form {
	color: #3e3e3e;
}

.login-logo-wrapper {
	margin-block-end: 5rem;
}

.login-logo-wrapper div {
	display: flex;
	justify-content: center;
}

.login-logo-wrapper h1 {
	padding: 0;
	color: #3e3e3e;
	font-size: 5rem;
	margin-block-end: 2rem;
}

.login-logo-wrapper h2 {
	margin: 0;
	padding: 0;
	font-size: 3rem;
	color: #fff;
}

.login-input-wrapper {
	margin-block-end: 3rem;
}

.login-input-wrapper label {
	display: block;
	margin-block-end: 1rem;
}

.login-input-wrapper input {
	height: 4rem;
	width: 100%;
	font-size: 2rem;
	border: none;
	color: #3e3e3e;
	padding: 0 2rem;
}

.login-input-wrapper input:focus {
	outline: none;
}

.login-btn-wrapper {
	display: flex;
	justify-content: flex-end;
	margin: 4rem 0 1rem 0;
}

.login-btn {
	background-color: #3e3e3ed2;
	font-size: 2.5rem;
	height: 5rem;
	width: 50%;
	border-radius: 0.3rem;
}
